<?xml version="1.0"?>
<config>
    <modules>
        <Inchoo_HTPayWay>
            <version>2.0.0</version>
        </Inchoo_HTPayWay>
    </modules>
    <global>
        <models>
            <inchoo_htpayway>
                <class>Inchoo_HTPayWay_Model</class>
            </inchoo_htpayway>
        </models>
        <helpers>
            <inchoo_htpayway>
                <class>Inchoo_HTPayWay_Helper</class>
            </inchoo_htpayway>
        </helpers>
        <blocks>
            <inchoo_htpayway>
                <class>Inchoo_HTPayWay_Block</class>
            </inchoo_htpayway>
        </blocks>
    </global>
    <frontend>
        <routers>
            <inchoo_htpayway>
                <use>standard</use>
                <args>
                    <module>Inchoo_HTPayWay</module>
                    <frontName>inchoo_htpayway</frontName>
                </args>
            </inchoo_htpayway>
        </routers>
        <translate>
            <modules>
                <Inchoo_HTPayWay>
                    <files>
                        <default>Inchoo_HTPayWay.csv</default>
                    </files>
                </Inchoo_HTPayWay>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Inchoo_HTPayWay>
                    <files>
                        <default>Inchoo_HTPayWay.csv</default>
                    </files>
                </Inchoo_HTPayWay>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <inchoo_htpayway>
                <active>0</active>
                <model>inchoo_htpayway/standard</model>
                <payment_action>authorize_capture</payment_action>
                <title><![CDATA[HT PayWay]]></title>
                <shop_secret_key backend_model="adminhtml/system_config_backend_encrypted"/>
                <allowspecific>0</allowspecific>
            </inchoo_htpayway>
        </payment>
    </default>
</config>
